
/* exclusions. stuff in theme files to be hidden. */
.header-inner-right #header-mobile-link,
.footer-inner #mobile
{
    display: none;
}


/**
 * Header
 * --------------------------------------
 */

.header {
    /* background: url("/themes/aadotcom/images/header-bg.png") repeat-x; */
    background: url("/themes/aadotcom/images/header-bg-1.jpg") repeat-x;
    width: 100%;
    display: block;
}

/* all header components have the same height */
.header,
.header-inner,
.header-inner-left,
.header-inner-right {
    height: 88px;
}

/* these header components have no margin or padding */
.header,
.header-inner-left,
.header-inner-right {
    margin: 0;
    padding: 0;
}

.path-node .header {
    margin-bottom: 12px;
}

.path-frontpage .header {
    margin-bottom: 24px;
}

.header-inner {
    width: 830px;
    margin-left: auto;
    margin-right: auto;
    /* display: block; */
    /* TODO not sure that this is needed */
    position: relative;
}

.header-inner-left {
    width: 230px;
    display: block;
    float: left;
}

.header-inner-right {
    width: 600px;
    display: block;
    float: right;
    /* needed to get stuff inside to float to the bottom */
    position: relative;
}

/* TODO: this is not working */
.header-inner-right #header-image {
    position: absolute;
    top: 51px;
    left: 0;
}

.header-inner-right #nav {
    display: block;
    float: right;
    margin-top: 58px;
}

.header-inner-right #nav a img {
    opacity: 0.6;
    padding-left: 10px;
}



/**
 * Content
 * ---------------------------------------------------------
 */

/* .layout-container */
.layout-container .content {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 10em;
}

.content-inner {
    /* `width` needs match header-inner */
    width: 830px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.content-inner-left {
    width: 230px;
    display: block;
    float: left;
}

.content-inner-right {
    width: 600px;
    display: block;
    float: right;
}



/**
 * Footer
 * ---------------------------------------------------------
 */

.layout-container .footer {
    display: inline block;
    clear: both;
    min-height: 380px;
    width: 100%;
    padding: 20px 0 60px 0;
    background: #dbd6c4;
    margin-top: 500px; /* something wrong here (margins collapsing?) */
}

.footer-inner {
    width: 830px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.footer-col-first,
.footer-col
{
    width: 207px;    /* works with 830px width */
    text-align: left;
    float: left;
    margin: 0;
    padding: 1px 0;
    position: relative;
    text-transform: lowercase;
}

.footer-col-first dt,
.footer-col dt
{
    padding: 0 10px;
    color: #777;
    opacity: 0.95;
    margin: 1.5em 0 0.6em 0;
    font-weight: bold;
    letter-spacing: -0.02em;
    font-size: 15px;
    line-height: 1.4em;
}

.footer-col-first dd,
.footer-col dd
{
    margin: 0;
    padding: 3px 10px;
}
    
.footer-col-first a,
.footer-col dd a {
    font-family: Palatino,Georgia,Times;
    font-size: 16px;
    line-height: 1.5em;
    color: #3863ac;
    opacity: 0.7;
}

.footer-col-first a:hover,
.footer-col dd a:hover {
    text-decoration: underline;
}



/**
 * Similar Block
 * -------------
 */
.similar,
.recent-content
{
    margin-top: 54px;
    margin-bottom: 2.5em;
}

.recent-content
{
    margin-top: 26px;
}

.similar::before,
.recent-content::before
{
    padding: 0.8em 0 0.8em 0;
    margin: 0 0 1em 0;
    width: 100%;
}

.similar::before
{
    content: "related";
}

.recent-content::before
{
    content: "what’s new";
}

.similar ul,
.recent-content ul
{
    list-style-type: circle;
    margin: 1.5em 2em 1.5em 2.5em;
}

.similar ul li,
.recent-content ul li
{
    margin-bottom: 0.7em;
}


/**
 * Late adjustments
 */
.content-inner-left #block-skyadgeneral {
    border: none;
    padding-bottom: 14px;
}

.content-inner-left .view-random-quote-block {
    padding-bottom: 14px;
}



