
/* stuff built into theme pages that 'mobile' doesn't show */
.header-inner-left,
.content-inner-left,
.header-inner-right #header-image,
.header-inner-right #nav a img,
.header-inner-right #nav,
.footer-inner #desktop,
.comment-wrapper
{
    display: none;
}


/**
 * Body
 * --------------------------------------
 */

body {
    background: url("/themes/aadotcom/images/bgnoise.png") repeat-x;
    font-family: "Lucida Grande",Arial,Verdana,sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
}


/**
 * Common/Base (TODO: move to main?)
 * --------------------------------------
 */

.a,
.a:link,
.a:visited,
.a:hover,
.a:active
{
  color: #3a78bc;
  text-decoration: none;
}

body,
.layout-container,
.header,
.header-inner,
.layout-container .content,
.layout-container .footer
{
    width: 100%;
    margin: 0;
    padding: 0;
}

.header .header-inner-right,
.content-inner-right,
.footer-inner
{
    width: 90%;
    margin: 0 5% 0 5%;
    padding: 0;
}



/**
 * Header
 * --------------------------------------
 */

.header {
    background-color: #3a78bc;
    width: 100%;
    height: 82px;
    margin: 0 0 12px 0;
}

.header-inner-right #header-mobile-link {
    font-size: 36px;
    text-align: center;
    padding-top: 18px;    
}

.header-inner-right #header-mobile-link a,
.header-inner-right #header-mobile-link a:link,
.header-inner-right #header-mobile-link a:visited,
.header-inner-right #header-mobile-link a:hover,
.header-inner-right #header-mobile-link a:active
{
    color: #f0f0f0;
    text-decoration: none;
}

.path-frontpage .header {
    margin-bottom: 24px;
}



/**
 * Content
 * ---------------------------------------------------------
 */

.layout-container .content {
    padding-bottom: 2em;
}

.content-inner-right
{
    display: block;
}



/**
 * Footer
 * ---------------------------------------------------------
 */

.layout-container .footer {
    margin-top: 1em;
    margin-bottom: 8em;
    min-height: 20em;
    padding: 2em 0 4em 3em;
}

.footer-inner #mobile #footer-links {
    display: block;
    margin: 0.5em 0 0.5em 0;
    font-size: 1.3em;
    color: #555;
}

.footer-inner #mobile .field-items {
    padding-left: 1em;
}

.footer-inner #mobile .field-items a {
    display: block;
    width: 100%;
    line-height: 1.6em;
    margin: 1em 0 0 1em;
}


/* the 'h2 a' links on the front page, and pages like /java, /perl */
.content-inner-right .front-page .views-field-title a:link,
.content-inner-right .front-page .views-field-title a:visited,
.content-inner-right .views-row article.node--view-mode-teaser h2 a:link,
.content-inner-right .views-row article.node--view-mode-teaser h2 a:visited
{
    font-family: "Lucida Grande",Arial,Verdana,sans-serif;
    font-size: 21px;
    letter-spacing: -0.03em;
    line-height: 1.3em;
    font-weight: bold;
    color: #666666;
    margin: .5em 0;
    margin-bottom: -0.4em;
    padding-top: 0;
    text-decoration: none;
}


/* AJA - mobile */

.path-frontpage .views-field-title
{
    margin: 4em 8px 0.5em 0;
    border-bottom: 2px dashed #3a78bc;
    padding-bottom: 8px;
    line-height: 1.2em;
}

.path-frontpage .views-field-title .field-content a,
.path-frontpage .views-field-title .field-content a:link,
.path-frontpage .views-field-title .field-content a:visited,
.path-frontpage .views-field-title .field-content a:hover,
.path-frontpage .views-field-title .field-content a:active
{
    color: #3a78bc;
    text-decoration: none;
}



/**
 * Front page - Text nodes (TODO)
 * --------------------------------------------------------
 */

/* the title on pages like /java */
.content-inner-right h1.page-title {
    font-size: 26px;
    margin: 16px 0 6px 0;
    color: #636363;
}

.view-header .vocabulary-category .content .field--name-description p {
    font-size: 22px;
    font-style: italic;
    margin: 0 0 16px 0;
    padding: 0;
}

/* spacing after each teaser on "list" pages like /java, /perl */
.content-inner-right .views-element-container .view-taxonomy-term .views-row {
    margin: 0 0 3em 0;
    padding: 0;
}



/**
 * Site-wide formats
 * --------------------------------------------------------
 */
pre {
    width: 100%;
}

pre.resizable {
    overflow: auto;
    resize: none;
}



/**
 * Similar Block
 * -------------
 */
.similar,
.recent-content
{
    display: block;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    background-color: #fefefe;
    border: 2px solid #efefef;
    margin-top: 54px;
    margin-bottom: 2.5em;
}

.recent-content
{
    margin-top: 26px;
}

.similar::before,
.recent-content::before
{
    text-align: center;
    display: block;
    padding: 0.8em 0 0.8em 0;
    border-radius: 4px 4px 0 0;
    text-align: center;
    margin: 0 0 1em 0;
    width: 100%;
    background: #efefdf;
    color: #8f8c7f;
    letter-spacing: 0.02em;
    font-weight: bold;
    font-size: 18px;
}



/**
 * "My Books" Block
 * ----------------
 */

/* AJA */
.below_content .my_books {
    width: 100%;
}

.below_content .my_books h2.title {
    display: block;
    width: 100%;
}

.below_content .my_books table {
    width: 100%;
}

/* TODO: this should vary by display size, but % isn't working well */
.below_content .my_books a img {
    width: 110px;
}


/**
 * Pager (bottom of list pages)
 * --------------------------------------------------------
 */

/* AJA - mobile */
.pager {
    margin: 0;
    padding: 4em 0 4.5em 0;
    width: 100%;
    text-align: left;
}

.pager li a:link
{
    font-size: 1.3em;
    border-radius: 6px;
    padding: .6em 1em;
    margin-right: 0.4em;
    color: #3863AC;
    text-decoration: none;
    background: #eeeeee;
    line-height: 3em;
}



/**
 * Blog pages
 * --------------------------------------------------------
 */
.page-node-type-source-code .content-inner-right h1.page-title,
.content-inner-right .node--type-source-code h2,
.content-inner-right .node--type-source-code h3,
.page-node-type-blog .field--name-body h1,
.page-node-type-blog .field--name-body h2,
.page-node-type-blog .field--name-body h3
{
    color: #636363;
}

.page-node-type-source-code .content-inner-right h1.page-title,
.page-node-type-blog .field--name-body h1 {
    font-size: 24px;
    line-height: 1.4em;
    margin-bottom: 0.2em;
    margin-top: 15px;
}

.page-node-type-source-code .content-inner-right h2,
.page-node-type-blog .field--name-body h2 {
    font-size: 20px;
    padding: 1.4em 0 0 0;
    margin: 0 0 0 0;
    line-height: 1.2em;
}

.page-node-type-source-code .content-inner-right h3,
.page-node-type-blog .field--name-body h3 {
    font-size: 16px;
    font-style: italic;
    padding: 1.5em 0 0 0;
    margin: 0 0 0 0;
    line-height: 1.2em;
}

/* .page-node-type-blog .field--name-body pre { */

.page-node-type-source-code .content-inner-right .field--name-body blockquote p,
.page-node-type-blog .field--name-body blockquote p {
    margin-left: 2.5em;
    margin-right: 2.5em;
    text-align: justify;
    color: #808080;
    margin-bottom: 1.3em;
    line-height: 1.6em;
}

/* category should show up before (on top of) tags */
.page-node-type-blog .field--name-category,
.page-node-type-source-code .field--name-category 
{
    display: block;
    margin: 48px 0 0.7em 0;
}

.page-node-type-blog .field--name-tags,
.page-node-type-source-code .field--name-tags
{
    display: block;
    margin: 0;
}

.content_category,
.content_tags
{
    opacity: 0.8;
}



/**
 * Text & Misc content type
 * --------------------------------------------------------
 */
.page-node-type-text .content-inner-right .field--name-body p,
.page-node-type-misc .content-inner-right .field--name-body p
{
    font-size: 19px;
}

.page-node-type-text .content-inner-right .field--name-body,
.page-node-type-misc .content-inner-right .field--name-body
{
    border-radius: 12px;
    border: 2px dotted #eaede6;
    line-height: 1.6em;
    margin: 36px 4px 2em 0;
    padding: 20px 24px 48px 24px;
    background: #fff;
}

.page-node-type-text .content-inner-right .field--name-body,
.page-node-type-misc .content-inner-right .field--name-body
{
    background-color: #F9FAF6;
    opacity: 0.95;
}

/* text & misc on front page */

.path-frontpage .content-inner-right .content-type-Text,
.path-frontpage .content-inner-right .content-type-Misc
{
    border: 1px dashed #f3e9e3;
    padding: 16px 10px 16px 12px;
    border-radius: 12px;
}

.path-frontpage .content-inner-right .content-type-Text p,
.path-frontpage .content-inner-right .content-type-Misc p
{
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    line-height: 1.4em;
    font-size: 22px;
    margin: 1em 0;
}

.path-frontpage .content-inner-right .content-type-Text:nth-child(even),
.path-frontpage .content-inner-right .content-type-Misc:nth-child(even)
{
    /* yellow */
    background-color: #fdfdf6;
}

.path-frontpage .content-inner-right .content-type-Text:nth-child(odd),
.path-frontpage .content-inner-right .content-type-Misc:nth-child(odd) 
{
    /* blue */
    background-color: #f3fbff;
}

.path-frontpage .content-inner-right .content-type-Text .views-field-title,
.path-frontpage .content-inner-right .content-type-Misc .views-field-title
{
    display: none;
}


/**
 * Table of Contents
 * --------------------------------------------------------
 */

.toc-filter .toc-responsive,
.toc-filter .toc-desktop,
.toc-filter .toc-responsive h3,
.toc-filter .toc-responsive ol li,
.toc-filter .toc-responsive ol ol,
.toc-filter .toc-responsive a:link,
.toc-filter .toc-responsive a:visited,
a.back-to-top {
    display: none;
}


/* AJA:NEW:BEACH */
.page-node-type-source-code .content-inner-right h1.page-title,
.content-inner-right h1.page-title,
.page-node-type-source-code .content-inner-right .node__content .field--name-body h2,
.page-node-type-blog .node__content .field--name-body h2,
.toc-filter .toc-responsive h3
{
    color: #4d3a2a;
    opacity: 0.76;
}

.page-node-type-source-code .content-inner-right h1.page-title,
.page-node-type-blog .field--name-body h3 {
    opacity: 0.8;
}


/* AJA - mobile */
img {
    max-width: 100%;
    height:auto;
}










