body {
  padding-top: 6rem;
  background: #ffeed7; }

body.home {
  padding-top: 0; }

.navbar-brand img {
  height: 20px; }

p:last-child {
  margin-bottom: 0; }

.btn-gradient {
  background-image: linear-gradient(to right, #ffbc5d, #e052a0);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  color: #fff;
  border: 0 none; }

.btn-gradient:hover, .btn-gradient:active {
  color: #fff;
  background-image: linear-gradient(to right, #e052a0, #ffbc5d) !important; }

.jumbotron.bg-dark {
  border-radius: 0;
  color: #e8e8e8;
  text-align: center;
  text-shadow: 0px -1px 1px black;
  margin-top: -6rem;
  padding-top: 6rem;
  border-bottom: 1px solid #25292d; }
  .jumbotron.bg-dark h1 {
    line-height: 3rem; }
  .jumbotron.bg-dark img.ufo {
    width: 40px; }
  .jumbotron.bg-dark .orange {
    color: #ffbc5d; }
  .jumbotron.bg-dark .newsletter {
    padding: 4rem 4rem;
    border: 1px solid #25292d;
    background-color: #4b545d;
    margin-bottom: -8rem; }

blockquote.blockquote p {
  font-size: 1.1rem;
  font-style: italic; }

blockquote.blockquote:last-child {
  margin-bottom: 0; }

.image-container {
  margin: 0 -20px; }
  .image-container img {
    max-width: 100%; }

.lesson, .page {
  border-radius: 10px;
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #e4cea4;
  box-shadow: 0 0 20px 0 #e4d0b3; }
  .lesson .top, .page .top {
    text-align: center; }
    .lesson .top h2 a, .page .top h2 a {
      color: #212529; }
    .lesson .top p.meta, .page .top p.meta {
      font-size: 1rem;
      font-style: italic;
      line-height: 1;
      color: #b1b1b1; }
  .lesson pre, .lesson ul.nav.nav-tabs, .page pre, .page ul.nav.nav-tabs {
    margin-right: -20px; }
  .lesson ul.nav.nav-tabs, .page ul.nav.nav-tabs {
    margin-left: -20px; }
    .lesson ul.nav.nav-tabs li:first-child, .page ul.nav.nav-tabs li:first-child {
      margin-left: 20px; }
  .lesson p, .lesson li, .page p, .page li {
    font-size: 1.2rem;
    line-height: 1.9; }
    .lesson p code, .lesson li code, .page p code, .page li code {
      white-space: nowrap; }
  .lesson .exercise, .page .exercise {
    border: 1px solid #dcead4;
    background-color: #f6fff1; }
    .lesson .exercise .solution, .page .exercise .solution {
      display: none; }
  .lesson .note, .page .note {
    border: 1px solid #cbe7ef;
    background-color: #f1fcff; }
  .lesson .exercise, .lesson .note, .page .exercise, .page .note {
    margin: 0 -20px 1rem 0;
    padding: 10px 20px 10px 10px;
    border-right: 0 none; }
    .lesson .exercise p:last-child, .lesson .note p:last-child, .page .exercise p:last-child, .page .note p:last-child {
      margin-bottom: 0; }
  .lesson .sidebar h4, .page .sidebar h4 {
    margin-bottom: 0;
    line-height: 1.9;
    font-size: 1.2rem;
    margin-top: 0; }
  .lesson .sidebar h5, .page .sidebar h5 {
    margin-top: 0; }
  .lesson .sidebar #toc ol, .page .sidebar #toc ol {
    padding: 10px 10px 10px 43px;
    border: 1px solid #E5DEE4;
    background-color: #FAF5FC;
    margin-left: -20px;
    border-left: 0 none; }
    .lesson .sidebar #toc ol li, .page .sidebar #toc ol li {
      line-height: 1.9;
      font-size: 1.1rem; }
    .lesson .sidebar #toc ol ul, .page .sidebar #toc ol ul {
      padding-left: 30px; }
  .lesson .sidebar .newsletter, .page .sidebar .newsletter {
    padding: 10px 10px 10px 20px;
    border: 1px solid #dee0e5;
    background-color: #f5f9fc;
    margin-left: -20px;
    border-left: 0 none; }
    .lesson .sidebar .newsletter p, .page .sidebar .newsletter p {
      text-align: left !important;
      font-size: 1.1rem; }

.lesson h3 {
  padding-top: 2rem;
  border-top: 1px solid #e2e2e2;
  margin-top: 2rem;
  margin-right: -20px; }
.lesson h4 {
  margin-top: 4rem; }
.lesson h5 {
  margin-top: 2rem; }
.lesson blockquote {
  font-style: italic;
  padding-left: 20px;
  border-left: 5px solid #e2e2e2; }
.lesson .image-paragraph {
  line-height: 3rem;
  margin-right: -20px;
  text-align: center;
  font-style: italic;
  color: #9e9e9e;
  font-size: 0.9em;
  margin-bottom: 0; }
  .lesson .image-paragraph img {
    width: 100%; }

p code, li code {
  padding: 2px 4px;
  background-color: #f1f1f1;
  color: #e20068; }

.small-caps-lowercase, .small-caps, .exercise h5, .note h5 {
  margin-bottom: 1rem;
  font-variant: small-caps; }

.note h5 {
  margin-top: 0; }

.small-caps-lowercase {
  letter-spacing: 0.2rem;
  text-transform: lowercase; }

small.text-muted a {
  color: inherit;
  text-decoration: underline; }
